* {
  user-select: none;
}

html {
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: hsl(210, 2%, 12%);
  height: 100%;
  overflow: hidden;
}

canvas {
  border: 2px solid hsl(210, 5%, 25%);
}

.invisible {
  visibility: hidden;
}

p {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  font-size: 22px;
  color: hsl(210, 5%, 35%);
}
